@charset "utf-8";

main{
    margin-left:30%;
    margin-right:30%;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
td{
    padding:15px;
}
tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #ccc;
}